@mixin fade($from, $to) {
  from {
    opacity: $from;
  }
  to {
    opacity: $to;
  }
}

@mixin transform-animation($type, $scaleFrom, $scaleTo) {
  from {
    transform: #{$type }($scaleFrom);
    opacity: 0;
  }
  to {
    transform: #{$type }($scaleTo);
    opacity: 1;
  }
}

@keyframes fade-in {
  @include fade(0, 1);
}
@keyframes fade-out {
  @include fade(1, 0);
}
@keyframes fade-out-80 {
  @include fade(1, 0.2);
}

@mixin slide($dir, $amount) {
  from {
    opacity: 0;
    @if $dir == left {
      transform: translateX(-$amount);
    }
    @if $dir == right {
      transform: translateX($amount);
    }
    @if $dir == top {
      transform: translateY(-$amount);
    }
    @if $dir == bottom {
      transform: translateY($amount);
    }
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@each $dir in left, right, top, bottom {
  @keyframes slide-in-from-#{$dir} {
    @include slide($dir, 100%);
  }
  @keyframes slide-out-to-#{$dir} {
    @include slide($dir, 100%);
  }
}

@keyframes zoom-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes enter {
  0% {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(
        var(--tw-enter-translate-x, 0),
        var(--tw-enter-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1),
        var(--tw-enter-scale, 1)
      )
      rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 0);
    transform: translate3d(
        var(--tw-exit-translate-x, 0),
        var(--tw-exit-translate-y, 0),
        0
      )
      scale3d(
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1),
        var(--tw-exit-scale, 1)
      )
      rotate(var(--tw-exit-rotate, 0));
  }
}
