/* Radius */
$radius-large: 8px;
$radius-medium: 6px;
$radius-round: 999999px;
$radius-small: 4px;
$radius-xlarge: 12px;
$radius-xsmall: 2px;
$radius-xxlarge: 16px;
/* Theme - Light */
$light-static-black: #000000ff;
$light-static-white: #ffffffff;
$light-static-null: #ff00cdff;
$light-label-secondary: #171717b5;
$light-label-tertiary: #17171785;
$light-label-quaternary: #17171766;
$light-label-quinary: #17171733;
$light-line-primary: #ccccccff;
$light-line-secondary: #e6e6e6ff;
$light-line-tertiary: #f2f2f2ff;
$light-dimmed-primary: #00000085;
$light-interaction-disabled: #383a3a1f;
$light-fill-surfacealpha-primary: #ffffffeb;
$light-fill-surfacealpha-secondary: #ffffffe0;
$light-fill-background-secondary: #f5f5f5ff;
$light-fill-surfacealpha-tertiary: #e6e6e6e0;
$light-fill-surfacealpha-quaternary: #cccccce0;
$light-refine-senary: #17171714;
$light-refine-septenary: #1717170a;
$light-elevation-10: #0000000a;
$light-elevation-20: #0000000f;
$light-elevation-30: #00000012;
$light-elevation-40: #00000014;
$light-dimmed-secondary: #00000052;
$light-colors-grey-25: #fcfcfcff;
$light-colors-grey-50: #f5f5f5ff;
$light-colors-grey-100: #e6e6e6ff;
$light-colors-grey-200: #ccccccff;
$light-colors-grey-300: #b3b3b3ff;
$light-colors-grey-400: #8c8c8cff;
$light-colors-grey-500: #737373ff;
$light-colors-grey-600: #595959ff;
$light-colors-grey-700: #404040ff;
$light-colors-grey-800: #262626ff;
$light-colors-grey-900: #171717ff;
$light-colors-grey-950: #050505ff;
$light-colors-red-25: #fff1f0ff;
$light-colors-yellow-25: #fff8e3ff;
$light-colors-yellow-50: #fff0bfff;
$light-colors-yellow-100: #ffe284ff;
$light-colors-yellow-200: #ffd154ff;
$light-colors-yellow-300: #ffc227ff;
$light-colors-yellow-400: #ffb41fff;
$light-colors-yellow-500: #ffa201ff;
$light-colors-yellow-600: #eb8e02ff;
$light-colors-yellow-700: #d17c1bff;
$light-colors-yellow-800: #a86211ff;
$light-colors-yellow-900: #82490dff;
$light-colors-yellow-950: #65370aff;
$light-colors-red-50: #ffdcd4ff;
$light-colors-red-100: #ffb6a6ff;
$light-colors-red-200: #ff9787ff;
$light-colors-red-300: #ff6661ff;
$light-colors-red-400: #fa4b4bff;
$light-colors-red-500: #f33939ff;
$light-colors-red-600: #e8272eff;
$light-colors-red-700: #d42626ff;
$light-colors-red-800: #b80f0fff;
$light-colors-red-900: #920909ff;
$light-colors-red-950: #6b0000ff;
$light-colors-blue-25: #e8f4ffff;
$light-colors-blue-50: #cce4ffff;
$light-colors-blue-100: #9cc8ffff;
$light-colors-blue-200: #6eadffff;
$light-colors-blue-300: #4a98ffff;
$light-colors-blue-400: #2483ffff;
$light-colors-blue-500: #006effff;
$light-colors-blue-600: #005bedff;
$light-colors-blue-700: #0646ceff;
$light-colors-blue-800: #103aaeff;
$light-colors-blue-900: #122b8aff;
$light-colors-blue-950: #132168ff;
$light-colors-green-25: #effaf1ff;
$light-colors-green-50: #d5f2ceff;
$light-colors-green-100: #b2e5a7ff;
$light-colors-green-200: #7ad476ff;
$light-colors-green-300: #40c75bff;
$light-colors-green-400: #18b84dff;
$light-colors-green-500: #00a848ff;
$light-colors-green-600: #00943eff;
$light-colors-green-700: #027b35ff;
$light-colors-green-800: #00602aff;
$light-colors-green-900: #004a27ff;
$light-colors-green-950: #00341cff;
$light-colors-pink-25: #fff0f3ff;
$light-colors-pink-50: #ffdee7ff;
$light-colors-pink-100: #ffbacaff;
$light-colors-pink-200: #ff96b4ff;
$light-colors-pink-300: #fc779fff;
$light-colors-pink-400: #ff6193ff;
$light-colors-pink-500: #ff4a7dff;
$light-colors-pink-600: #f23369ff;
$light-colors-pink-700: #de1b55ff;
$light-colors-pink-800: #b20b40ff;
$light-colors-pink-900: #920937ff;
$light-colors-pink-950: #6b0628ff;
$light-label-primary: $light-colors-grey-900;
$light-static-primary: $light-colors-blue-500;
$light-label-accent: $light-static-primary;
$light-fill-background-primary: $light-static-white;
$light-fill-surface-primary: $light-fill-background-primary;
$light-fill-surface-secondary: $light-fill-background-primary;
$light-fill-surface-tertiary: $light-colors-grey-50;
$light-fill-surface-quaternary: $light-colors-grey-100;
$light-line-accent: $light-static-primary;
$light-fill-surface-_segment: $light-static-white;
$light-status-positive: $light-static-primary;
$light-interaction-surface: $light-static-black;
$light-status-negative: $light-colors-red-500;
$light-status-caution: $light-colors-yellow-500;
$light-refine-accent: $light-static-primary;
$light-refine-primary: $light-label-primary;
$light-refine-secondary: $light-label-secondary;
$light-refine-tertiary: $light-label-tertiary;
$light-refine-quaternary: $light-label-quaternary;
$light-refine-quinary: $light-label-quinary;
$light-static-secondary: $light-colors-blue-400;
$light-invers-white: $light-static-white;
$light-invers-black: $light-static-black;

/* Theme - Dark */
$dark-static-black: #000000ff;
$dark-static-white: #ffffffff;
$dark-static-null: #ff00cdff;
$dark-label-secondary: #e5e5e5bf;
$dark-label-tertiary: #e5e5e575;
$dark-label-quaternary: #e5e5e557;
$dark-label-quinary: #e5e5e529;
$dark-fill-surface-primary: #161719ff;
$dark-fill-surface-secondary: #1d1e21ff;
$dark-line-primary: #3b3d44ff;
$dark-line-secondary: #212226ff;
$dark-dimmed-primary: #000000bd;
$dark-interaction-disabled: #37383db8;
$dark-fill-surfacealpha-primary: #242528eb;
$dark-fill-background-primary: #121315ff;
$dark-fill-surfacealpha-secondary: #1d1e21e0;
$dark-fill-background-secondary: #0a0b0cff;
$dark-fill-surfacealpha-tertiary: #292929e0;
$dark-fill-surfacealpha-quaternary: #303030e0;
$dark-refine-senary: #e5e5e51c;
$dark-refine-septenary: #e5e5e50f;
$dark-elevation-10: #0000005c;
$dark-elevation-20: #0000005c;
$dark-elevation-30: #00000054;
$dark-elevation-40: #0000004d;
$dark-dimmed-secondary: #0000008a;
$dark-colors-grey-25: #121212ff;
$dark-colors-grey-50: #1c1c1cff;
$dark-colors-grey-100: #262626ff;
$dark-colors-grey-200: #333333ff;
$dark-colors-grey-300: #4c4c4cff;
$dark-colors-grey-400: #666666ff;
$dark-colors-grey-500: #808080ff;
$dark-colors-grey-600: #999999ff;
$dark-colors-grey-700: #b2b2b2ff;
$dark-colors-grey-800: #ccccccff;
$dark-colors-grey-900: #e5e5e5ff;
$dark-colors-grey-950: #f2f2f2ff;
$dark-colors-red-25: #491818ff;
$dark-colors-yellow-25: #3a2918ff;
$dark-colors-yellow-50: #493116ff;
$dark-colors-yellow-100: #5d3b14ff;
$dark-colors-yellow-200: #82521aff;
$dark-colors-yellow-300: #ae6b1dff;
$dark-colors-yellow-400: #db881cff;
$dark-colors-yellow-500: #fe9f19ff;
$dark-colors-yellow-600: #fcab30ff;
$dark-colors-yellow-700: #fabc57ff;
$dark-colors-yellow-800: #facb73ff;
$dark-colors-yellow-900: #fcdd9fff;
$dark-colors-yellow-950: #fff0c6ff;
$dark-colors-red-50: #5e1a1aff;
$dark-colors-red-100: #7e1e21ff;
$dark-colors-red-200: #992226ff;
$dark-colors-red-300: #c82530ff;
$dark-colors-red-400: #e32c32ff;
$dark-colors-red-500: #fc3f3fff;
$dark-colors-red-600: #ff5452ff;
$dark-colors-red-700: #ff6d63ff;
$dark-colors-red-800: #ff8a7dff;
$dark-colors-red-900: #ffb4a8ff;
$dark-colors-red-950: #ffe0d4ff;
$dark-colors-blue-25: #172457ff;
$dark-colors-blue-50: #142a70ff;
$dark-colors-blue-100: #0f338cff;
$dark-colors-blue-200: #073da8ff;
$dark-colors-blue-300: #024abfff;
$dark-colors-blue-400: #0058dbff;
$dark-colors-blue-500: #006effff;
$dark-colors-blue-600: #1c82ffff;
$dark-colors-blue-700: #4c9dffff;
$dark-colors-blue-800: #7db5ffff;
$dark-colors-blue-900: #a6cfffff;
$dark-colors-blue-950: #c9e2ffff;
$dark-colors-green-25: #063717ff;
$dark-colors-green-50: #0b4620ff;
$dark-colors-green-100: #14582aff;
$dark-colors-green-200: #166b32ff;
$dark-colors-green-300: #117f36ff;
$dark-colors-green-400: #0d953dff;
$dark-colors-green-500: #03a339ff;
$dark-colors-green-600: #35b045ff;
$dark-colors-green-700: #69c25fff;
$dark-colors-green-800: #9bd482ff;
$dark-colors-green-900: #bde4a7ff;
$dark-colors-green-950: #ddf4d0ff;
$dark-colors-pink-25: #471725ff;
$dark-colors-pink-50: #5d1b2eff;
$dark-colors-pink-100: #79203bff;
$dark-colors-pink-200: #9a2548ff;
$dark-colors-pink-300: #bc2956ff;
$dark-colors-pink-400: #d92e61ff;
$dark-colors-pink-500: #f0376fff;
$dark-colors-pink-600: #f74a7bff;
$dark-colors-pink-700: #f7658aff;
$dark-colors-pink-800: #f7839eff;
$dark-colors-pink-900: #ffacc2ff;
$dark-colors-pink-950: #f9d1daff;

$dark-label-primary: $dark-colors-grey-900;
$dark-static-primary: $dark-colors-blue-500;
$dark-label-accent: $dark-static-primary;
$dark-fill-surface-tertiary: $dark-colors-grey-100;
$dark-fill-surface-quaternary: $dark-colors-grey-200;
$dark-line-accent: $dark-static-primary;
$dark-line-tertiary: $dark-colors-grey-100;
$dark-fill-surface-_segment: $dark-colors-grey-200;
$dark-status-positive: $dark-static-primary;
$dark-interaction-surface: $dark-static-white;
$dark-status-negative: $dark-colors-red-500;
$dark-status-caution: $dark-colors-yellow-500;
$dark-refine-accent: $dark-static-primary;
$dark-refine-primary: $dark-label-primary;
$dark-refine-secondary: $dark-label-secondary;
$dark-refine-tertiary: $dark-label-tertiary;
$dark-refine-quaternary: $dark-label-quaternary;
$dark-refine-quinary: $dark-label-quinary;
$dark-static-secondary: $dark-colors-blue-400;
$dark-invers-white: $dark-static-black;
$dark-invers-black: $dark-static-white;
