@use '../common/mixin' as *;

/* 메뉴 컨테이너 */
.design-dropdown-menu-content {
  @include list-item-wrapper-content;
}

/* 메뉴 그룹 */
.design-dropdown-menu-group {
  @include list-item-group;
}
/* 그룹 제목 */
.design-dropdown-menu-label {
  @include list-item-label;
  & {
    margin-bottom: 0px;
  }
}
/*  그룹 구분선 */
.design-dropdown-menu-separator {
  @include list-item-separator;
}
.design-dropdown-menu-separator:last-child {
  display: none;
}

/* 아이템 */
.design-dropdown-menu-item {
  @include list-item;
}

/* 우측 캡션 */
.design-dropdown-menu-shortcut {
  @include list-item-shortcut;
}

%has-icon-left {
  position: absolute;
  left: 8px;
  display: flex;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.design-dropdown-menu-checkbox-item,
.design-dropdown-menu-radio-item {
  @include list-item-has-left-icon;

  &[data-disabled] {
    opacity: 0.5;
  }
}

.design-dropdown-menu-checkbox-item-span,
.design-dropdown-menu-radio-item-span {
  @include list-item-left-icon;
}

/* 서브 메뉴 */
.design-dropdown-menu-sub-content {
  @include list-item-wrapper-content;
}
.design-dropdown-menu-sub-trigger {
  @include list-item-sub-trigger;
}
