$color_1: var(--color-semantic-primary-text);
$color_2: var(--color-grey-900);
$color_3: var(--color-grey-700);
$color_4: var(--color-grey-100);

$background-color_1: var(--color-grey-50);
$background-color_2: var(--color-blue-400);
$background-color_3: var(--color-grey-200);
$background-color_4: var(--color-grey-300);
$background-color_5: var(--color-grey-900);

.design-menubar {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--color-container-border-200);
  background-color: $background-color_1;
  border-radius: 6px;
  padding: 4px;
}

.design-menubar-trigger {
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  outline: none;
  &:focus {
    background-color: $background-color_2;
    color: $color_1;
  }
  &[data-state='open'] {
    background-color: $background-color_2;
    color: $color_1;
  }
}

.design-menubar-sub-trigger {
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
  &:focus {
    background-color: $background-color_2;
    color: $color_1;
  }
  &[data-state='open'] {
    background-color: $background-color_2;
    color: $color_1;
  }
  &.inset {
    padding-left: 32px;
  }
}

.design-menubar-sub-content {
  z-index: 50;
  min-width: 8rem;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid var(-container-border-50);
  background-color: $background-color_3;
  padding: 4px;
  color: $color_2;
  transform-origin: var(--radix-menubar-content-transform-origin);

  &[data-state='open'] {
    animation: fade-in zoom-in 0.15 ease-in;
  }

  &[data-state='closed'] {
    animation: fade-out zoom-out 0.15 ease-in;
  }

  &[data-side='bottom'] {
    animation: slide-in-from-top 0.15 ease-in;
  }

  &[data-side='left'] {
    animation: slide-in-from-right 0.15 ease-in;
  }

  &[data-side='right'] {
    animation: slide-in-from-left 0.15 ease-in;
  }

  &[data-side='top'] {
    animation: slide-in-from-bottom 0.15 ease-in;
  }
}

.design-menubar-content {
  z-index: 50;
  min-width: 12rem;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid var(--color-container-border-200);
  background-color: $background-color_3;
  padding: 4px;
  color: $color_2;
  box-shadow: var(--shadow-md);
  transform-origin: var(--radix-menubar-content-transform-origin);

  &[data-state='open'] {
    animation: fade-in-0 zoom-in-95 var(--animation-duration);
  }

  &[data-state='closed'] {
    animation: fade-out-0 zoom-out-95 var(--animation-duration);
  }

  &[data-side='bottom'] {
    animation: slide-in-from-top-2 var(--animation-duration);
  }

  &[data-side='left'] {
    animation: slide-in-from-right-2 var(--animation-duration);
  }

  &[data-side='right'] {
    animation: slide-in-from-left-2 var(--animation-duration);
  }

  &[data-side='top'] {
    animation: slide-in-from-bottom-2 var(--animation-duration);
  }
}

.design-menubar-item {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  outline: none;
  &:focus {
    background-color: $background-color_2;
    color: $color_1;
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.design-menubar-checkbox-item {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding: 6px 8px 6px 32px;
  font-size: 14px;
  outline: none;
  &:focus {
    background-color: $background-color_2;
    color: $color_1;
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.design-menubar-checkbox-item-span {
  position: absolute;
  left: 8px;
  display: flex;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.design-menubar-radio-item {
  position: relative;
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  border-radius: 4px;
  padding: 6px 8px 6px 32px;
  font-size: 14px;
  outline: none;
  &:focus {
    background-color: $background-color_2;
    color: $color_1;
  }
  &[data-disabled] {
    pointer-events: none;
    opacity: 0.5;
  }
}

.design-menubar-radio-item-span {
  position: absolute;
  left: 8px;
  display: flex;
  height: 14px;
  width: 14px;
  align-items: center;
  justify-content: center;
}

.design-menubar-label {
  padding: 6px 8px;
  font-size: 14px;
  font-weight: 600;
}

.design-menubar-separator {
  margin: 4px -4px;
  height: 1px;
  background-color: $background-color_4;
}

.design-menubar-shortcut {
  margin-left: auto;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: $color_3;
}
