@use '../common/animations.scss' as *;

.design-navigation-menu {
  position: relative;
  z-index: 10;
  display: flex;
  max-width: max-content;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.design-navigation-menu-content {
  left: 0;
  top: 0;
  width: 100%;

  &[data-motion^='from-'] {
    animation:
      enter 0.2s ease-out,
      fade-in 0.2s ease-out;
  }

  &[data-motion^='to-'] {
    animation:
      exit 0.2s ease-out,
      fade-out 0.2s ease-out;
  }

  &[data-motion='from-end'] {
    animation: slide-in-from-right-52 0.2s ease-out;
  }
  &[data-motion='from-start'] {
    animation: slide-in-from-left-52 0.2s ease-out;
  }
  &[data-motion='to-end'] {
    animation: slide-out-to-right-52 0.2s ease-out;
  }
  &[data-motion='to-start'] {
    animation: slide-out-to-left-52 0.2s ease-out;
  }

  @media (min-width: 768px) {
    position: absolute;
    width: auto;
  }

  @each $dir in left, right {
    @keyframes slide-in-from-#{$dir}-52 {
      @include slide($dir, 52px);
    }
    @keyframes slide-out-to-#{$dir}-52 {
      @include slide($dir, 52px);
    }
  }
}

.design-navigation-menu-list {
  display: flex;
  flex: 1;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.design-navigation-menu-chevron {
  position: relative;
  top: 1px;
  margin-left: 2px;
  height: 16px;
  width: 16px;
  transition: transform 0.2s;
}

.design-navigation-menu-viewport-wrapper {
  position: absolute;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: center;
}

.design-navigation-menu-viewport {
  height: var(--radix-navigation-menu-viewport-height);
  border: 1px solid var(--color-container-border-200);
  background-color: var(--color-grey-50);
  color: var(--color-grey-800);
  transform-origin: top center;
  position: relative;
  margin-top: 3px;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  &[data-state='open'] {
    animation:
      enter 0.2s ease-out,
      zoom-in 0.2s ease-out;
  }
  &[data-state='closed'] {
    animation:
      exit 0.2s ease-out,
      zoom-out 0.2s ease-out;
  }

  @media (min-width: 768px) {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.design-navigation-menu-indicator {
  position: absolute;
  top: 100%;
  z-index: 1;
  display: flex;
  height: 12px;
  align-items: end;
  justify-content: center;
  overflow: hidden;
}

.design-navigation-menu-indicator-inner {
  position: relative;
  top: 60%;
  height: 2px;
  width: 2px;
  transform: rotate(45deg);
  border-top-left-radius: 1px;
  background-color: var(--color-container-border-200);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.design-navigation-menu-trigger {
  display: inline-flex;
  height: 20px;
  width: max-content;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--color-grey-50);
  padding: 4px 8px;
  font-weight: 500;
  transition: background-color 0.2s;
  &:hover,
  &:focus {
    background-color: var(--color-grey-50);
    color: var(--color-grey-800);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
