$color_1: var(--color-grey-900);
$background-color_1: var(--color-grey-200);

.popover-content {
  z-index: 50;
  width: 18rem;
  border-radius: 6px;
  border: 1px solid var(--color-container-border-200);
  background-color: $background-color_1;
  padding: 16px;
  color: $color_1;
  box-shadow: var(--shadow-md);
  outline: none;
  transform-origin: var(--radix-popover-content-transform-origin);

  &[data-state='open'] {
    animation: fade-in-0 zoom-in-95 var(--animation-duration);
  }
  &[data-state='closed'] {
    animation: fade-out-0 zoom-out-95 var(--animation-duration);
  }
  &[data-side='bottom'] {
    animation: slide-in-from-top-2 var(--animation-duration);
  }
  &[data-side='left'] {
    animation: slide-in-from-right-2 var(--animation-duration);
  }
  &[data-side='right'] {
    animation: slide-in-from-left-2 var(--animation-duration);
  }
  &[data-side='top'] {
    animation: slide-in-from-bottom-2 var(--animation-duration);
  }
}
