@use '../common/mixin' as *;
@use '../common/animations' as *;

.design-tooltip-content {
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--Colors-Grey-900, #171717);
  padding: 8px 10px;
  color: var(--Invers-White, #fff);
  user-select: none;
  min-width: 60px;
  max-width: 240px;
  flex-direction: column;
  gap: 2px;

  animation-duration: 150ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  @include elevation-40;
  @include caption-m-r;

  @each $side in top, right, bottom, left {
    @keyframes slide-in-from-#{$side}-2 {
      @include slide($side, 2px);
    }
    @keyframes slide-out-to-#{$side}-2 {
      @include slide($side, 2px);
    }

    &[data-state='delayed-open'][data-side='#{$side}'] {
      animation-name: slide-in-from-#{$side}-2;
    }
  }
}

.design-tooltip-arrow {
  fill: var(--Colors-Grey-900, #171717);
}
